{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'factotum/css/bootstrap.min.css' %}">
</head>
<body>
<header>
    <div class="d-flex border-bottom mt-2 ml-2 justify-content-between">
        <a href="{% url "index" %}">
            <img src="{% static "factotum/img/logo.png" %}">
        </a>

        <div class="d-flex">

            {% if not user.is_authenticated %}
                <a href="{% url "login" %}" class="align-self-center">
                    <h5 class="text-dark pr-5">Se connecter</h5>
                </a>
            {% else %}
                <a href="{% url "logout" %}" class="align-self-center">
                    <h5 class="text-dark pr-5">Se déconnecter</h5>
                </a>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url "profil" %}" class="align-self-center">
                    <h5 class="text-dark pr-5">Profil de {{ user.username }}</h5>
                </a>
            {% endif %}
        </div>

    </div>
</header>

<main>
    <div class="d-flex flex-column mb-2 bg-dark border border-secondary">
        <h2 class="d-flex justify-content-center text-white">Prendre soin de votre maison, en toute simplicité!</h2>
        <div class="d-flex justify-content-center mb-2">
            {% if user.is_authenticated %}
                <a href="{% url "recherche" %}" class="button btn-secondary rounded p-2">Commencer une recherche</a>
            {% endif %}
        </div>
    </div>

    {% block content %}

    {% endblock %}
</main>

<footer>

</footer>
</body>
</html>