{% extends "factotum/base.html" %}

{% block content %}
    <div class="d-flex w-100 col-10 offset-1">
        {% for professionnel in professionnels %}
            <div class="d-flex border border-secondary bg-light p-3 w-50 col-6 m-2">
                <img src="{{ professionnel.0.utilisateur_id.avatar.url }}" class="img-fluid rounded-circle w-25">
                <div class="d-flex w-75 border-left border-secondary ml-3">
                    <div class="d-flex pl-3 w-100 justify-content-between">
                        <div class="d-flex flex-column">
                            <h4>{{ professionnel.0.utilisateur_id.first_name }} {{ professionnel.0.utilisateur_id.last_name }}</h4>
                            <h5>{{ professionnel.2 }}</h5>
                            <h5>{{ professionnel.1 }} km</h5>
                            <h5>Taux - {{ professionnel.0.taux_horaire }}$ / heure</h5>
                        </div>
                        <div>
                            <a href="{% url "ajout_soumission" professionnel.0.utilisateur_id.id %}"
                               class="button btn-secondary rounded p-2">Voir Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}