{% extends "factotum/base.html" %}

{% block content %}
    <div class="d-flex w-100 border-top border-secondary">
        <div class="d-flex bg-light w-25 justify-content-center align-items-center">
            <img src="{{ user.avatar.url }}" class="img-fluid rounded-circle p-4">
        </div>
        <div class="bg-light w-75 d-flex w-100">
            <div class="bg-light w-25">
                <h4 class="w-100 border-bottom pt-1 pb-1">Info du compte</h4>
                {% if user.role == 2 %}
                    <p>*note</p>
                {% endif %}
                <p>Pseudo - {{ user.username }}</p>
                <p>Nom - {{ user.first_name }} {{ user.last_name }}</p>

            </div>
            <div class="bg-light w-25">
                <h4 class="w-100 border-bottom pt-1 pb-1">Me Contacter</h4>
                <p>Email - {{ user.email }}</p>
                <p>Téléphone - {{ user.telephone }}</p>
                <p>Adresse - {{ user.adresse }}</p>
                <p>Code postal - {{ user.code_Postal }}</p>
            </div>
            {% if user.role == 2 %}
                <div class="bg-light w-50 pl-2 border-left">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <h4 class="pt-1 pb-1">Vos services actuels</h4>
                            <a href="{% url "ajout_service" user.id %}"
                               class="button btn-secondary rounded p-2 ml-4 mt-2">
                                Ajouter un service</a>
                        </div>
                        <div class="">
                            {% for service in user_services %}
                                <p>{{ service.service_id.nom }}</p>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            {% endif %}

        </div>
    </div>

    <table class="bg-light mt-2">
        <thead class="border-bottom border-secondary">
        <tr>
            <th><h4>Soumissions</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <div class="">
                {% for soumission in soumissions %}
                    <td class="p-2">{{ soumission.date_planification }}</td>
                    <td class="p-2">{{ soumission.date_finis }}</td>
                    <td class="p-2">{{ soumission.utilisateur_id.first_name }}</td>
                    <td class="p-2">{{ soumission.utilisateur_id.last_name }}</td>
                    <td class="p-2">{{ soumission.utilisateur_id.telephone }}</td>
                    <td class="p-2">{{ soumission.id_service_Professionnel_id.nom }}</td>
                    <td class="p-2">{{ soumission.description }}</td>
                    <td class="p-2">{{ soumission.etat }}</td>
                    <td class="p-2">
                        <a href="#">Annuler</a>
                        {% if soumission.date_finis != "" %}
                            <a href="#">Noter</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </div>
        </tr>

        </tbody>
    </table>
{% endblock %}