{% extends "factotum/base.html" %}

{% block content %}
    <div class="d-flex w-100 border-top border-secondary">
        <div class="d-flex bg-light w-25 justify-content-center align-items-center">
            <img src="{{ user.avatar.url }}" class="img-fluid rounded-circle p-4">
        </div>
        <div class="bg-light w-75 d-flex w-100">
            <div class="bg-light w-25">
                <h4 class="w-100 border-bottom pt-1 pb-1">Info du compte</h4>
                {% if user.role == 2 %}
                    <p>*note</p>
                {% endif %}
                <p>Pseudo - {{ user.username }}</p>
                <p>Nom - {{ user.first_name }} {{ user.last_name }}</p>

            </div>
            <div class="bg-light w-25">
                <h4 class="w-100 border-bottom pt-1 pb-1">Me Contacter</h4>
                <p>Email - {{ user.email }}</p>
                <p>Téléphone - {{ user.telephone }}</p>
                <p>Adresse - {{ user.adresse }}</p>
                <p>Code postal - {{ user.code_Postal }}</p>
            </div>
            {% if user.role == 2 %}
                <div class="bg-light w-50 pl-2 border-left">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <h4 class="pt-1 pb-1">Vos services actuels</h4>
                            <a href="{% url "ajout_service" user.id %}"
                               class="button btn-secondary rounded p-2 ml-4 mt-2">
                                Ajouter un service</a>
                        </div>
                        <div class="">
                            {% for service in user_services %}
                                <p>{{ service.service_id.nom }}</p>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            {% endif %}

        </div>
    </div>

    <table class="bg-light mt-3 w-100">
        <thead class="border-bottom border-secondary w-100">
        <tr class="d-flex flex-column">
            <th><h4>Vos Demandes de Soumissions</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex flex-column">
        <tr class="border-bottom border-secondary">
            <td class="border-left border-secondary">Date planification</td>
            <td class="border-left border-secondary">Date terminé</td>
            <td class="border-left border-secondary">Prénom</td>
            <td class="border-left border-secondary">Nom</td>
            <td class="border-left border-secondary">Téléphone</td>
            <td class="border-left border-secondary">Service</td>
            <td class="border-left border-secondary">Description</td>
            <td class="border-left border-secondary">État</td>
        </tr>
        {% for soumission in soumissions %}
            <tr class="border-bottom border-secondary">
                <td class="p-2 border-left">{{ soumission.date_planification }}</td>
                <td class="p-2 border-left">
                    {% if soumission.date_finis == None %}
                        -----
                    {% else %}
                        {{ soumission.date_finis }}
                    {% endif %}
                </td>
                <td class="p-2 border-left">{{ soumission.utilisateur.first_name }}</td>
                <td class="p-2 border-left">{{ soumission.utilisateur.last_name }}</td>
                <td class="p-2 border-left">{{ soumission.utilisateur.telephone }}</td>
                <td class="p-2 border-left">{{ soumission.id_service_Professionnel.service_id.nom}}</td>
                <td class="p-2 border-left">{{ soumission.description }}</td>
                <td class="p-2 border-left border-right">{{ soumission.get_etat_display }}</td>
                <td class="p-2">
                    <a href="#">Annuler</a>
                </td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    {% if user.role == 2 %}
        <table class="bg-light mt-4 w-100">
            <thead class="border-bottom border-secondary w-100">
            <tr class="d-flex flex-column">
                <th><h4>Vos Demandes effectuées</h4></th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex flex-column">
            <tr class="border-bottom border-secondary">
                <td class="border-left border-secondary">Date planification</td>
                <td class="border-left border-secondary">Date terminé</td>
                <td class="border-left border-secondary">Prénom</td>
                <td class="border-left border-secondary">Nom</td>
                <td class="border-left border-secondary">Téléphone</td>
                <td class="border-left border-secondary">Service</td>
                <td class="border-left border-secondary">Description</td>
                <td class="border-left border-secondary">État</td>
            </tr>
            {% for soumission in soumissionsDemande %}
                <tr class="border-bottom border-secondary">
                    <td class="p-2 border-left">{{ soumission.date_planification }}</td>
                    <td class="p-2 border-left">
                        {% if soumission.date_finis == None %}
                            -----
                        {% else %}
                            {{ soumission.date_finis }}
                        {% endif %}
                    </td>
                    <td class="p-2 border-left">{{ soumission.id_service_Professionnel.utilisateur_id.first_name }}</td>
                    <td class="p-2 border-left">{{ soumission.id_service_Professionnel.utilisateur_id.last_name }}</td>
                    <td class="p-2 border-left">{{ soumission.id_service_Professionnel.utilisateur_id.telephone }}</td>
                    <td class="p-2 border-left">{{ soumission.id_service_Professionnel.service_id.nom }}</td>
                    <td class="p-2 border-left">{{ soumission.description }}</td>
                    <td class="p-2 border-left border-right">{{ soumission.get_etat_display }}</td>
                    <td class="p-2">
                        {% if soumission.date_finis != None %}
                            <a href="#">Noter</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tr>

            </tbody>
        </table>
    {% endif %}

{% endblock %}